.pyramid-chart {
    // background-color: rgba(0, 0, 0, 0.05);
    aspect-ratio: 2 / 2;
    // max-height: 240px ;
}
.demography-stackedbar {
    aspect-ratio: 11 / 8;
}
.demography-deltagraph{
    aspect-ratio: 11 / 8;
}