#summerhouse-minimapbody {
    aspect-ratio: 5 / 6;
} 
#movingpatterns-minimapbody {
    display: none;
}
#flexhouse-minimapbody {
    aspect-ratio: 5 / 6;
} 
#demography-minimapbody {
    aspect-ratio: 6 / 5;
} 
#estate-minimapbody {
    aspect-ratio: 5 / 6;
}
#residentages-minimapbody{
    aspect-ratio: 6 / 5;
}
#villages-minimapbody {
    aspect-ratio: 6 / 5;
}
#villagesTwo-minimapbody {
    aspect-ratio: 6 / 5;
}
#facilities-minimapbody {
    aspect-ratio: 6 / 5;
} 